<app-header></app-header>

<div class="container mt-3 ">
    <h2 class="mb-5 display-5 fw-bolder text-center text-primary">ADMIN DASHBOARD</h2>
</div>

<div class="m-3">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a routerLink="users"
                    class="list-group-item list-group-item-action list-group-item-primary text-center py-3 fw-bold"><i
                        class="fa-solid fa-users"></i> Manage Users</a>
                <a routerLink="movies"
                    class="list-group-item list-group-item-action list-group-item-primary text-center py-3 fw-bold"><i
                        class="fa-solid fa-file-video"></i> Manage Movies</a>
            </div>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-footer></app-footer>