body {
    background-color:  #f8f9fa;
    font-family: Arial, sans-serif;
}

.card {
    border-radius: 8px;
}

.card-body {
    padding: 20px;
}

.btn-primary {
    background-color: #f39c12;
    border-color: #f39c12;
}

.btn-primary:hover {
    background-color: #e67e22;
    border-color: #e67e22;
}



