<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Contact us at info&#64;moviemania.com</p>
            </div>
            <div class="col-md-4 footer-links">
                <h5>Quick Links</h5>
                <a href="#">Home</a>
                <a href="#">Reviews</a>
                <a href="#">Top Rated</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <div class="col-md-4 social-icons">
                <h5>Follow Us</h5>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
        <div class="mt-3">
            <p>&copy; 2024 Movie Mania. All rights reserved.</p>
        </div>
    </div>
</footer>